*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1320px;
    flex-wrap: wrap;
    gap: 20px;
}
.taskbar{
    width: 100vw;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: white;
}
.taskbar_logo{
    display: flex;
    width: max-content;
    align-items: center;
    gap: 5px;
}
.taskbar_icon{
    display: flex;
    color: #F26464;
    gap: 5px;
    align-items: center;
}
.banner{
    display: flex;
    width: 100%;
    margin-top: 80px;
    gap:50px;
    margin-bottom: 50px;
}
.banner_title{
    width: 45%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.banner_title_span{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.section_aboutme{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}
.section_skills{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.section_experience{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}
.section_works{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
    gap: 20px;
}
.section_item{
    width: 50%;
    padding: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section_works_item{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section_works_picture{
    width: 40%;
}
.footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0px 120px 0px;
    background-color: black;
    color: white;
    gap: 20px;
}
.font300{
    font-weight: 300;
}
.font400{
    font-weight: 400;
}
.font500{
    font-weight: 500;
}
.font600{
    font-weight: 600;
}
.font700{
    font-weight: 700;
}
.font800{
    font-weight: 800;
}
.size16{
    font-size: 16px;
}
.size18{
    font-size: 18px;
}
.size24{
    font-size: 24px;
}
.size30{
    font-size: 30px;
}
.size36{
    font-size: 36px;
}
.size48{
    font-size: 48px;
}
.lineheight24{
    line-height: 24px;
}
.lineheight30{
    line-height: 30px;
}
.lineheight40{
    line-height: 40px;
}
.lineheight60{
    line-height: 60px;
}
.color{
    color: #F26464;
}
.bgcolor{
    background-color: #F6F8FA;
}
.span{
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: white;
    background-color: black;
    font-weight: 600;
    font-size: 22px;
    justify-content: center;
    align-items: center;
}
.underline{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #F26464;
}
.buttoncolor{
    display: inline-block;
    width: max-content;
    padding: 17px 30px 17px 30px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    border: 2px solid #F26464;
    border-radius: 60px;
}
.buttoncolor:hover{
    background-color: #F26464;
    color: white;
}
.button{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 60px;
}


